<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utils.hilt.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.YasinPerizinanLembagaPelatihanKerja"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.user.permohonan.DetailPermohonanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.jenis_dokumen.jenis_dokumen.AdminJenisDokumenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.jenis_dokumen.list_daftar_pelatihan.AdminJenisDokumenDaftarPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.pdf.PdfActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.permohonan.dokumen.AdminPermohonanDokumenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.permohonan.AdminPermohonanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.pendaftar.AdminPendaftarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.log_pembayaran.AdminLogPembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.user.AdminUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.daftar_pelatihan.AdminDaftarPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.pelatihan.AdminPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.jenis_pelatihan.AdminJenisPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.main.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.pelatihan.detail_pelatihan.DetailPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.pelatihan.search_pelatihan.SearchPelatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.user.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>